.home-page{
    position: relative;
    top: 12vh;
}

.navbar-container{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: var(--z-index-xxl);
}
.hero-section{
    background-image: url("./Assets/hero-img3.jpg");
    background-position: center;
    height: 50vh; 
    width: 100%;
    color: var(--off-white);
}
.hero-section h1:nth-child(1){
    background-color: var(--off-white);
    color: var(--primary-color);
    border-radius: var(--scale-xxs);
}
.card-horizontal{
    width: 50rem;
}
.social-link i{
    font-size: var(--scale-lg);
    color: var(--secondary-color);
}