.filter-wrapper{
    position: fixed;
    top: 12vh;
    left: 0;
    width: 17vw;
    min-height: 88vh;
    border-right: 1px solid var(--light-secondary-color);
    padding: var(--scale-lg);
    background: var(--white);
}
.filter-header{
    justify-content: space-between;
    align-items: center;
}

.filter-header span{
    color: var(--primary-color);
    font-size: var(--default-font-size);
    font-weight: bold;
    cursor: pointer;
}
.form-wrapper{
    gap: var(--scale-xxs);
} 
.star-md{
    font-size: var(--default-font-size);
}

.main-wrapper{
    position: relative;
    left: 20vw;
    top: 12vh;
    padding: var(--scale-xl);
    max-width: 83vw;
    gap: var(--scale-xl);
}
.main-wrapper h4{
    display: block;
}